.novel2pageco-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.novel2pageco-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.novel2pageco-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.novel2pageco-container03 {
  flex: 0 0 auto;
  width: 328px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.novel2pageco-navlink {
  width: 109px;
  height: 48px;
  display: flex;
  position: relative;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #efefef;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: 40px;
  border-color: #c5c1c1;
  border-radius: var(--dl-radius-radius-inputradius);
  flex-direction: row;
  text-transform: uppercase;
  text-decoration: none;
}
.novel2pageco-navlink:hover {
  width: 114px;
  height: 50px;
}
.novel2pageco-text {
  top: 14px;
  right: 0px;
  position: absolute;
  font-style: normal;
  margin-top: 0px;
  font-weight: 700;
  margin-right: 20px;
  text-transform: capitalize;
}
.novel2pageco-image {
  top: 11px;
  left: -1px;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 0px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0s;
  margin-bottom: 0px;
}
.novel2pageco-container04 {
  flex: 0 0 auto;
  width: 328px;
  height: 443px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.novel2pageco-button {
  display: flex;
  border-width: 0px;
  flex-direction: row;
}
.novel2pageco-image1 {
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.novel2pageco-container05 {
  flex: 0 0 auto;
  width: auto;
  height: 63px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.novel2pageco-container06 {
  flex: 0 0 auto;
  width: 114px;
  height: 63px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.novel2pageco-navlink01 {
  width: 108px;
  height: 47px;
  position: relative;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #efefef;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: 0px;
  border-color: #c5c1c1;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-inputradius);
  text-transform: uppercase;
  text-decoration: none;
}
.novel2pageco-navlink01:hover {
  width: 112px;
  height: 51px;
}
.novel2pageco-image2 {
  top: 11px;
  left: 18px;
  width: 25px;
  position: absolute;
  object-fit: cover;
}
.novel2pageco-text03 {
  top: 13px;
  left: 47px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.novel2pageco-container07 {
  flex: 0 0 auto;
  width: 169px;
  height: 63px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.novel2pageco-navlink02 {
  width: 170px;
  height: 47px;
  position: relative;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #efefef;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: 0px;
  border-color: #c5c1c1;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-inputradius);
  padding-right: 0px;
  text-transform: uppercase;
  text-decoration: none;
}
.novel2pageco-navlink02:hover {
  width: 173px;
  height: 50px;
}
.novel2pageco-image3 {
  top: 9px;
  left: 13px;
  width: 25px;
  position: absolute;
  object-fit: cover;
}
.novel2pageco-text06 {
  top: 12px;
  left: 44px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.novel2pageco-container08 {
  flex: 0 0 auto;
  width: 706px;
  height: 488px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.novel2pageco-text07 {
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  font-family: "Amaranth";
  font-weight: 700;
}
.novel2pageco-text08 {
  color: rgb(92, 97, 102);
  font-size: 20px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Amaranth";
}
.novel2pageco-container09 {
  flex: 0 0 auto;
  width: 432px;
  height: 488px;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.novel2pageco-container10 {
  width: 100%;
  height: 376px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.novel2pageco-container11 {
  flex: 0 0 auto;
  width: 295px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fiveunits);
  margin-right: 0px;
  flex-direction: column;
}
.novel2pageco-text30 {
  font-size: 20px;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: 0px;
}
.novel2pageco-text31 {
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Raleway";
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
}
.novel2pageco-text32 {
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Raleway";
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: 0px;
}
.novel2pageco-text33 {
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Raleway";
  font-weight: 500;
  margin-left: var(--dl-space-space-halfunit);
}
.novel2pageco-container12 {
  width: 695px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
}
.novel2pageco-container13 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 0px;
  flex-direction: column;
  justify-content: center;
}
.novel2pageco-ul {
  width: 100%;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.novel2pageco-li {
  width: 290px;
  height: 60px;
  position: relative;
  padding-top: 19px;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-text34 {
  font-size: 20px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: 0px;
}
.novel2pageco-li01 {
  width: 300px;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-navlink03 {
  top: 35px;
  left: 0px;
  color: #343a40;
  width: 130px;
  bottom: 0px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  transition: 0.3s;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: auto;
  text-decoration: none;
}
.novel2pageco-navlink03:hover {
  font-size: 23px;
}
.novel2pageco-li02 {
  width: 290px;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-navlink04 {
  top: 35px;
  left: 0px;
  color: rgb(52, 58, 64);
  width: 130px;
  bottom: 0px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  transition: 0.3s;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: auto;
  text-decoration: none;
}
.novel2pageco-navlink04:hover {
  font-size: 23px;
}
.novel2pageco-li03 {
  width: 290px;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-navlink05 {
  top: 35px;
  left: 0px;
  color: rgb(52, 58, 64);
  width: 130px;
  bottom: 0px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  transition: 0.3s;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: auto;
  text-decoration: none;
}
.novel2pageco-navlink05:hover {
  font-size: 23px;
}
.novel2pageco-li04 {
  width: 290px;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-navlink06 {
  top: 35px;
  left: 0px;
  color: rgb(52, 58, 64);
  width: 130px;
  bottom: 0px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  transition: 0.3s;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: auto;
  text-decoration: none;
}
.novel2pageco-navlink06:hover {
  font-size: 23px;
}
.novel2pageco-container14 {
  flex: 0 0 auto;
  width: 301px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 0px;
  flex-direction: column;
  justify-content: center;
}
.novel2pageco-ul1 {
  width: 100%;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.novel2pageco-li05 {
  width: 50%;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-li06 {
  width: 290px;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-navlink07 {
  top: 35px;
  left: 0px;
  color: rgb(52, 58, 64);
  width: 130px;
  bottom: 0px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  transition: 0.3s;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: auto;
  text-decoration: none;
}
.novel2pageco-navlink07:hover {
  font-size: 23px;
}
.novel2pageco-li07 {
  width: 290px;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-navlink08 {
  top: 35px;
  left: 0px;
  color: rgb(52, 58, 64);
  width: 130px;
  bottom: 0px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  transition: 0.3s;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: auto;
  text-decoration: none;
}
.novel2pageco-navlink08:hover {
  font-size: 23px;
}
.novel2pageco-li08 {
  width: 290px;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-navlink09 {
  top: 35px;
  left: 0px;
  color: rgb(52, 58, 64);
  width: 130px;
  bottom: 0px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  transition: 0.3s;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: auto;
  text-decoration: none;
}
.novel2pageco-navlink09:hover {
  font-size: 23px;
}
.novel2pageco-li09 {
  width: 290px;
  height: 60px;
  position: relative;
  border-color: #cbcbcb;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.novel2pageco-navlink10 {
  top: 35px;
  left: 0px;
  color: rgb(52, 58, 64);
  width: 130px;
  bottom: 0px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  transition: 0.3s;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: auto;
  text-decoration: none;
}
.novel2pageco-navlink10:hover {
  font-size: 23px;
}
.novel2pageco-container15 {
  flex: 0 0 auto;
  width: 508px;
  height: 357px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: column;
}
.novel2pageco-textarea {
  width: 100%;
  height: 175px;
  border-color: #cbcbcb;
}
.novel2pageco-button1 {
  width: 108px;
  height: 47px;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #efefef;
  margin-top: var(--dl-space-space-halfunit);
  border-color: #c5c1c1;
  border-radius: var(--dl-radius-radius-inputradius);
  text-transform: uppercase;
}
.novel2pageco-text35 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
